@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  /* Styles de base pour la checkbox */
  input[type="checkbox"] {
    /* Masquer la checkbox par défaut */
    display: none;
  }

  /* Style de l'élément qui simule la checkbox personnalisée */
  input[type="checkbox"] + .custom-checkbox {
    position: relative;
    cursor: pointer;
    display: flex; /* Ajout de flexbox */
    align-items: center; /* Aligner les éléments verticalement */
  }

  /* Style de la "case" de la checkbox */
  input[type="checkbox"] + .custom-checkbox::before {
    content: "";
    width: 20px; /* Largeur de la case */
    height: 20px; /* Hauteur de la case */
    border: 2px solid #000; /* Couleur et épaisseur de la bordure */
    background-color: #fff; /* Couleur de fond de la case */
    margin-right: 10px; /* Espacement entre la case et le texte */
  }

  /* Style de la "coche" de la checkbox */
  input[type="checkbox"]:checked + .custom-checkbox::after {
    content: "\2713"; /* Caractère Unicode de la coche (checkmark) */
    font-size: 16px; /* Taille de la coche */
    position: absolute;
    left: 5px; /* Ajustement de la position de la coche */
    top: 1px; /* Ajustement de la position de la coche */
    color: #000; /* Couleur de la coche */
    font-weight: bold; /* Épaisseur de la coche */
  }

}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}